<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_cart
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Produtos
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon (click)="searchProductSKU()">search</mat-icon>
                    <input (keyup.enter)="searchProductSKU()" placeholder="Buscar Produto por SKU" [(ngModel)]="SKU">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                <!-- <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>                        -->

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>SKU</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.sku}}</p>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <!-- PAGINATION -->
                        <div class="total">
                            total de registros: {{total}}
                        </div>
                        <div class="paginacao">
                            <button class="mat-icon-button" (click)="firstPage()" [disabled]="page === 1">
                                <span class="mat-button-wrapper">
                                    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                        <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                                    </svg>
                                </span>
                            </button>

                            <button class="mat-icon-button" (click)="prevPage()" [disabled]="page === 1">
                                <span class="mat-button-wrapper">
                                    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                    </svg>
                                </span>
                            </button>

                            página {{page}} de {{pages}}

                            <button class="mat-icon-button" (click)="nextPage()" [disabled]="page === pages">
                                <span class="mat-button-wrapper">
                                    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                    </svg>
                                </span>
                            </button>

                            <button class="mat-icon-button" (click)="lastPage()" [disabled]="page === pages">
                                <span class="mat-button-wrapper">
                                    <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                        <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path>
                                    </svg>
                                </span>
                            </button>

                        </div>
                        <!-- / PAGINATION -->
                    </mat-footer-cell>                    
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef>Imagem</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image" *ngIf="product.images[0]" [alt]="product.name"
                            [src]="product.images[0]" />
                        <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.price | currency:'BRL'}}</p>
                    </mat-cell>
                </ng-container>
                
                <!-- Stock Column -->
                <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef>Estoque</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.qty}}</p>
                    </mat-cell>
                </ng-container>
                
                <!-- Marketplace -->
                <ng-container matColumnDef="marketplace">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Marketplaces</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>                        
                        <mat-chip-list *ngIf="product.associations.length > 0">
                            <mat-chip *ngFor="let association of product.associations" [ngClass]="{verde: association.status == 'linked', vermelho: association.status == 'declined', cinza: association.status == 'waiting_confirmation', amarelo: association.status == 'unlinked'}">
                                {{association.platform}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>                

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.status}}</p>
                    </mat-cell>
                </ng-container>                

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple
                    [routerLink]="'/apps/e-commerce/products/'+product.sku">
                </mat-row>

                <mat-footer-row *matFooterRowDef="['id']; sticky: true"></mat-footer-row>

            </mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>